./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112811/SRR5112811.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112812/SRR5112812.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112813/SRR5112813.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112814/SRR5112814.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112815/SRR5112815.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112816/SRR5112816.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112817/SRR5112817.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112818/SRR5112818.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112819/SRR5112819.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112820/SRR5112820.bam
./ap_stuckemann/bowtie2_output/bowtie2_out_SRR5112821/SRR5112821.bam
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112811/SRR5112811.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112812/SRR5112812.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112813/SRR5112813.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112814/SRR5112814.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112815/SRR5112815.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112816/SRR5112816.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112817/SRR5112817.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112818/SRR5112818.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112819/SRR5112819.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112820/SRR5112820.trimmed.fq.gz
./ap_stuckemann/cutadapt_output/cutadapt_out_SRR5112821/SRR5112821.trimmed.fq.gz
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183571/SRR2183571.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183572/SRR2183572.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183573/SRR2183573.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183574/SRR2183574.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183575/SRR2183575.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183576/SRR2183576.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183577/SRR2183577.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183578/SRR2183578.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183579/SRR2183579.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183580/SRR2183580.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183581/SRR2183581.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183582/SRR2183582.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183583/SRR2183583.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183584/SRR2183584.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183585/SRR2183585.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183586/SRR2183586.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183587/SRR2183587.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183588/SRR2183588.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183589/SRR2183589.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183590/SRR2183590.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183591/SRR2183591.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183592/SRR2183592.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183593/SRR2183593.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183594/SRR2183594.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183595/SRR2183595.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183596/SRR2183596.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183597/SRR2183597.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183598/SRR2183598.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183599/SRR2183599.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183600/SRR2183600.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183601/SRR2183601.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183602/SRR2183602.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183603/SRR2183603.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183604/SRR2183604.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183605/SRR2183605.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183606/SRR2183606.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183607/SRR2183607.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183608/SRR2183608.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183609/SRR2183609.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183610/SRR2183610.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183611/SRR2183611.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183612/SRR2183612.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183613/SRR2183613.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183614/SRR2183614.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183615/SRR2183615.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183616/SRR2183616.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183617/SRR2183617.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183618/SRR2183618.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183619/SRR2183619.bam
./cdh4_p53_tu/bowtie2_output/bowtie2_out_SRR2183620/SRR2183620.bam
./coe_cowles/bowtie2_output/bowtie2_out_SRR1133800/SRR1133800.bam
./coe_cowles/bowtie2_output/bowtie2_out_SRR2486925/SRR2486925.bam
./coe_cowles/bowtie2_output/bowtie2_out_SRR2486926/SRR2486926.bam
./coe_cowles/bowtie2_output/bowtie2_out_SRR2486927/SRR2486927.bam
./coe_cowles/bowtie2_output/bowtie2_out_SRR2486928/SRR2486928.bam
./coe_cowles/bowtie2_output/bowtie2_out_SRR2486929/SRR2486929.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410512/SRR3410512.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410514/SRR3410514.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410515/SRR3410515.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410517/SRR3410517.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410518/SRR3410518.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410520/SRR3410520.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410521/SRR3410521.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410523/SRR3410523.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410524/SRR3410524.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410526/SRR3410526.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410492/SRR3410492.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410527/SRR3410527.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410529/SRR3410529.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410531/SRR3410531.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410532/SRR3410532.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410534/SRR3410534.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410535/SRR3410535.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410537/SRR3410537.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410538/SRR3410538.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410540/SRR3410540.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410541/SRR3410541.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410543/SRR3410543.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410544/SRR3410544.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410546/SRR3410546.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410547/SRR3410547.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410549/SRR3410549.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410550/SRR3410550.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410552/SRR3410552.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410491/SRR3410491.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410486/SRR3410486.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410487/SRR3410487.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410553/SRR3410553.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410488/SRR3410488.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410489/SRR3410489.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410555/SRR3410555.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410490/SRR3410490.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410494/SRR3410494.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410556/SRR3410556.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410485/SRR3410485.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410493/SRR3410493.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410480/SRR3410480.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410481/SRR3410481.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410482/SRR3410482.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410483/SRR3410483.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410558/SRR3410558.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410484/SRR3410484.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410559/SRR3410559.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410561/SRR3410561.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410496/SRR3410496.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410497/SRR3410497.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410499/SRR3410499.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410562/SRR3410562.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410564/SRR3410564.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410565/SRR3410565.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410500/SRR3410500.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410567/SRR3410567.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410502/SRR3410502.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410503/SRR3410503.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410505/SRR3410505.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410506/SRR3410506.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410508/SRR3410508.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410509/SRR3410509.bam
./pax5_sox8_zfp1_cheng/bowtie2_output/bowtie2_out_SRR3410511/SRR3410511.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348593/ERR348593.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348594/ERR348594.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348595/ERR348595.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348596/ERR348596.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348597/ERR348597.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348598/ERR348598.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348599/ERR348599.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348600/ERR348600.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348601/ERR348601.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348602/ERR348602.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348603/ERR348603.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348604/ERR348604.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348605/ERR348605.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348606/ERR348606.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348607/ERR348607.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348608/ERR348608.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348609/ERR348609.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348610/ERR348610.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348611/ERR348611.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348612/ERR348612.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348613/ERR348613.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348614/ERR348614.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348615/ERR348615.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348616/ERR348616.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348617/ERR348617.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348618/ERR348618.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348619/ERR348619.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348620/ERR348620.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348621/ERR348621.bam
./prep_kao/bowtie1C_output/bowtie1C_out_ERR348622/ERR348622.bam
